<section>
<br>
<h1>Admin Dashboard</h1>
<br>
<ul class="list-group">
  <li class="list-group-item">Currently <%= @products.count %> products in Database</li>
  <li class="list-group-item">Currently <%= @categories.count%> categories in Database</li>
</ul>  
</section>